/*======= Feature  =======*/
.feature-item {
    z-index: 1;
    height: 100%;
    display: flex;
    padding: 45px 50px;
    position: relative;
    margin: 0 -1px -1px 0;
    border: 1px solid #eeeef0;
    @include respond-below(md) {
        padding-left: 25px;
        padding-right: 25px;
    }
    @include respond-below(xs) {
        display: block;
    }
    &:before {
        content: '';
        height: 100%;
        width: 100%;
        left: 50%;
        top: 50%;
        z-index: -1;
        transition: 0.5s;
        background: white;
        position: absolute;
        transform: translate(-50%, -50%)
    }
    .icon {
        flex: none;
        width: 85px;
        margin-right: 40px;
        @include respond-below(sm) {
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
    .content {
        h4 {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }
    &:hover {
        z-index: 2;
        &:before {
            width: calc(100% + 40px);
            height: calc(100% + 40px);
            box-shadow: 10px 0 30px rgba(13, 15, 44, 0.1);
        }
    }
}


/* Feature style two */
.feature-area-two {
    z-index: 1;
    position: relative;
    .feature-bg {
        left: 0;
        bottom: 0;
        z-index: -2;
        height: 75%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        background: rgba(13, 15, 44, 0.9);
        @include respond-below(xl) {
            height: 85%;
        }
        @include respond-below(sm) {
            height: 90%;
        }
        @include respond-below(xs) {
            height: 95%;
        }
        &:before {
            top: -25%;
            content: '';
            z-index: -1;
            width: 650px;
            height: 650px;
            border-radius: 50%;
            position: absolute;
            background: #fd695a;
            left: calc(50% - 325px);
            filter: blur(150px) opacity(0.65);
            animation: 5s zoomInOut infinite;
            @include respond-below(md) {
                filter: blur(150px) opacity(0.25);
            }
        }
        .circles,
        .circles:after,
        .circles:before {
            left: 50%;
            position: absolute;
            border-radius: 50%;
            transform: translate(-50%, -58%);
            background: rgba(255, 255, 255, 0.02);
        }
        .circles {
            top: 0;
            height: 1450px;
            width: 1450px;
            @include respond-below(xl) {
                height: 1200px;
                width: 1200px;
            }
            @include respond-below(md) {
                height: 800px;
                width: 800px;
            }
        }
        .circles:after {
            height: 90%;
            width: 85%;
            content: '';
            top: 58%;
        }
        .circles:before {
            content: '';
            height: 80%;
            width: 75%;
            top: 58%;
        }
    }
}

.feature-item-two {
    margin-bottom: 30px;
    .icon {
        width: 65px;
        height: 65px;
        color: white;
        font-size: 25px;
        line-height: 65px;
        border-radius: 50%;
        margin-bottom: 35px;
        display: inline-block;
        &.bg-one {
            background: #2ecea8;
        }
        &.bg-two {
            background: #fead44;
        }
        &.bg-three {
            background: #ff00ff;
        }
    }
    h4 {
        color: white;
        margin-bottom: 20px;
    }
    p {
        color: #9f9f9f;
        font-size: 17px;
    }
}