html {
  scroll-behavior: smooth;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  &:focus {
    @apply ring-0;
  }
}

// Hamburger button
.hamburger {
  svg > * {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      transform-origin: center;
      transform: rotate(0deg);
    }

    &:nth-child(1) {
      transition: y 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        opacity 0.1s ease-in;
    }

    &:nth-child(2) {
      transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &:nth-child(3) {
      transition: y 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        width 0.1s 0.25s ease-in;
    }
  }

  &.active {
    svg > * {
      &:nth-child(1) {
        opacity: 0;
        y: 11;
        transform: rotate(225deg);
        transition: y 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
          opacity 0.1s 0.12s ease-out;
      }

      &:nth-child(2) {
        transform: rotate(225deg);
        transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &:nth-child(3) {
        y: 11;
        transform: rotate(135deg);
        transition: y 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
          width 0.1s ease-out;
      }
    }
  }
}

// Pulsing animation
@keyframes pulseLoop {
  0% {
    opacity: 0.15;
    transform: scale(1) translateZ(0);
  }
  30% {
    opacity: 0.15;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: scale(1.8) translateZ(0);
  }
}
@keyframes pulseMiniLoop {
  0% {
    opacity: 0;
    transform: scale(1) translateZ(0);
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
    transform: scale(3) translateZ(0);
  }
}
.pulse {
  transform: scale(1);
  opacity: 0;
  transform-origin: center;
  animation: pulseLoop 10000ms linear infinite;
}
.pulse-mini {
  animation: pulseMiniLoop 6000ms linear infinite;
}
.pulse-1 {
  animation-delay: -3000ms;
}
.pulse-2 {
  animation-delay: -6000ms;
}

// Animations delay
.animation-delay-500 {
  animation-delay: 500ms !important;
}

.animation-delay-1000 {
  animation-delay: 1000ms !important;
}

.translate-z-0 {
  transform: translateZ(0);
}

// Custom AOS animations
[data-aos="zoom-y-out"] {
  transform: scaleX(1.03);
  opacity: 0;
  transition-property: transform, opacity;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

$commonBorderRadius: 5px;

.contact {
  &__form-container {
    background: #eaeaea;
    padding: 3rem;
    text-align: right;
    border-radius: $commonBorderRadius;

    margin: 5rem auto 0 auto;
    @include respond(phone) {
      padding: 2rem;
    }
  }
  &__form-field {
    margin-bottom: 3rem;
    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
  &__form-label {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }
  &__form-input {
    padding: 0.7rem;
    width: 100%;
    font-size: 1rem;
    border-radius: $commonBorderRadius;

    /* Code for Modern Browsers */
    &::placeholder {
      font-size: 1rem;
    }

    /* Code for WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      font-size: 1rem;
    }

    /* Code for Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      font-size: 1rem;
    }

    /* Code for Microsoft Edge */
    &::-ms-input-placeholder {
      font-size: 1rem;
    }

    /* Code for Mozilla Firefox 4 to 18 */
    &:-moz-placeholder {
      opacity: 1;

      font-size: 1rem;
    }

    /* Code for Mozilla Firefox 19+ */
    &::-moz-placeholder {
      opacity: 1;
      font-size: 1rem;
    }
  }
  &__btn {
    width: 1rem;

    padding: 1rem 4rem;
    background: white;
    font-size: 1rem;
    @include respond(phone) {
      width: 100%;
    }
  }
}
