/*======= Footer =======*/
.footer-widgets {
    .widget {
        position: relative;
        margin-bottom: 50px;
        color: $color-body;

        a {
            &:not(.template-btn) {
                color: $color-body;

                &:hover {
                    color: $color-primary;
                }
            }
        }

        .copyright-text {
            a {
                color: $color-primary;
            }
        }

        .social-links {
            li {
                display: inline-block;

                a {
                    height: 35px;
                    width: 35px;
                    background: #ecebfd;
                    border-radius: 50%;
                    font-size: 14px;
                    transition: 0.3s;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-heading;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }

            &.primary-color-3 {
                a {
                    &:hover {
                        background-color: $color-primary-3;
                        color: $color-white;
                        box-shadow: 0px 10px 30px 0px rgba(226, 92, 106, 0.36%);
                    }
                }
            }

            &.bordered-style {
                li a {
                    background-color: transparent;
                    border: 2px solid $color-primary;
                    color: $color-primary;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }

        .download-links {
            margin-top: 20px;

            li {
                display: inline-block;
                margin-right: 15px;
                line-height: 1;

                a {
                    font-size: 24px;

                    &:hover {
                        color: $color-primary-5;
                    }
                }
            }
        }

        .widget-title {
            font-size: 22px;
            margin-bottom: 35px;
        }

        &.text-block-widget {
            img {
                margin-bottom: 30px;
            }

            .contact-link {
                font-size: 18px;
                font-weight: 700;
                color: $color-heading;
                font-family: $font-cs-bold;
                margin-top: 15px;

                i {
                    color: $color-primary;
                }
            }
        }

        &.nav-widget {
            ul {
                li {
                    a {
                        padding-left: 20px;
                        position: relative;

                        &::before {
                            content: "\f054";
                            position: absolute;
                            left: 0;
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 800;
                            font-size: 14px;
                            top: 2px;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        &.contact-widget {
            li {
                a {
                    position: relative;
                    padding-left: 35px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 7px;
                        color: $color-primary;
                    }

                    &:hover {
                        color: $color-primary;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        &.instagram-feed {
            .instagram-images {
                display: flex;
                flex-wrap: wrap;
                margin: -5px;

                .single-img {
                    padding: 5px;
                    border-radius: 7px;
                    position: relative;

                    a {
                        display: block;
                    }

                    img {
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 7px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        bottom: 5px;
                        left: 5px;
                        z-index: 1;
                        background-color: $color-primary-4;
                        border-radius: 7px;
                        transition: 0.3s;
                        opacity: 0;
                        visibility: hidden;
                    }

                    a {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        bottom: 5px;
                        left: 5px;
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $color-white;
                        font-size: 24px;
                        transform: scale(0.5);
                        transition: 0.3s;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover {
                        &::after {
                            opacity: 0.75;
                            visibility: visible;
                        }

                        a {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        .newsletter-form {
            form {
                position: relative;

                input {
                    height: 70px;
                    border: 2px solid $color-dark-4;
                    background-color: transparent;
                    border-radius: 7px;
                    padding-right: 80px;
                    padding-left: 30px;
                }

                button {
                    position: absolute;
                    z-index: 2;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    border: none;
                    background-color: $color-primary-6;
                    color: $color-white;
                    font-size: 15px;
                }
            }
        }
    }
}

.footer-copyright {
    padding: 30px 0;

    .social-links {
        li {
            display: inline-block;

            a {
                font-size: 15px;
                transition: 0.3s;
                margin-left: 15px;
                color: $color-body-4;

                &:hover {
                    color: $color-primary-6;
                }
            }
        }
    }
}

.back-to-top {
    position: fixed;
    right: 0;
    bottom: 30px;
    z-index: 999;
    width: 40px;
    height: 40px;
    background-color: $color-heading;
    color: $color-white;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid $color-white;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;

    &:hover {
        color: $color-white;
    }

    &.show {
        right: 30px;
        visibility: visible;
        opacity: 1;
    }
}

.template-footer {
    &.footer-with-image {
        position: relative;
        z-index: 1;
        border-bottom: 5px solid $color-primary;
        background-image: url(../img/footer-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    &.footer-white-color {
        .footer-widgets {
            .widget {
                &,
                a {
                    color: $color-white;
                }

                a:hover {
                    color: $color-white;
                }

                .widget-title {
                    color: $color-white;
                }

                &.contact-widget li a i {
                    color: $color-white;
                }

                .social-links {
                    li a {
                        background-color: $color-white;
                        color: $color-heading;

                        &:hover {
                            background-color: $color-heading;
                            color: $color-white;
                        }
                    }

                    &.bordered-style {
                        li a {
                            background-color: transparent;
                            border-color: rgba(255, 255, 255, 0.15%);
                            color: $color-white;

                            &:hover {
                                background-color: $color-secondary;
                                border-color: $color-secondary;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }

        .footer-copyright {
            &,
            a {
                color: $color-white;
            }
        }
    }

    &.footer-secondary-4-bg {
        background-color: $color-secondary-4;

        .footer-widgets {
            .widget {
                &,
                a {
                    color: #8496c6;
                }

                a:hover {
                    color: $color-white;
                }

                .widget-title {
                    color: $color-white;
                }

                &.contact-widget li a i {
                    color: $color-primary-4;
                }

                .social-links {
                    li a {
                        background-color: #404767;
                        color: #8496c6;

                        &:hover {
                            background-color: $color-primary-4;
                            color: $color-white;
                        }
                    }
                }
            }
        }

        .footer-copyright {
            border-top: 1px solid #394565;

            &,
            a {
                color: #8496c6;
            }
        }
    }

    &.footer-bordered {
        .footer-widgets {
            padding-top: 80px;
            padding-bottom: 30px;

            .widget {
                &,
                a {
                    color: $color-body-4;
                }

                a:hover {
                    color: $color-white;
                }

                .widget-title {
                    color: $color-white;
                }

                &.contact-widget li a i {
                    color: $color-body-4;
                }
            }
        }

        .footer-copyright {
            border-top: 1px solid $color-dark-4;
            padding: 20px 0;

            &,
            a {
                color: $color-body-4;
            }
        }

        .footer-widget-left {
            padding-right: 80px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                top: -80px;
                bottom: -80px;
                right: 20px;
                background-color: $color-dark-4;
            }
        }
    }

    &.webinar-footer {
        .newsletters-title {
            h4 {
                font-size: 45px;
            }
        }

        .newsletters-form {
            form {
                padding-top: 20px;
                display: flex;

                input {
                    height: 55px;
                    padding: 0 30px;
                    font-size: 17px;
                    font-weight: 500;
                }

                button {
                    height: 55px;
                    padding: 0 35px;
                    margin-left: 10px;
                    background-color: $color-primary-7;
                    color: $color-white;
                    font-size: 14px;
                    text-transform: uppercase;
                    border: none;
                    min-width: 200px;
                    transition: 0.3s;

                    &:hover {
                        background-color: $color-heading-5;
                    }
                }
            }
        }

        .copyright-area {
            padding: 30px 0;
            border-top: 1px solid #e0e0e0;

            .footer-nav {
                li {
                    display: inline-block;
                    &:not(:first-child) {
                        margin-left: 25px;
                    }

                    a {
                        color: $color-body;
                        font-size: 17px;
                    }
                }
            }

            .copyright-text {
                font-size: 17px;
                a {
                    color: $color-primary-7;
                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    &.footer-h10 {
        z-index: 1;
        color: #a7a6a6;
        position: relative;
        background-color: black;
        .widget {
            color: #a7a6a6;
            .widget-title {
                color: white;
            }
            ul li {
                a {
                    color: #a7a6a6;
                    &:hover {
                        color: $color-primary-3;
                    }
                }
            }
            .social-links {
                a {
                    &:hover {
                        color: white;
                        background-image: linear-gradient( 45deg, rgb(107,52,250) 0%, rgb(212,21,110) 100%);
                    }
                }
            }
        }
        .news-widget {
            max-width: 285px;
            @include respond-above(md) {
                margin-right: -10px;
            }
            li {
                display: flex;
                align-items: center;
                img {
                    flex: none;
                    max-width: 80px;
                    margin-right: 20px;
                }
                .content {
                    h5 {
                        font-size: 18px;
                        line-height: 1.5;
                        a {
                            color: white;
                        }
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
        .newsletter-widget {
            @include respond-above(md) {
                margin-left: 20px;
            }
            input {
                height: 55px;
                margin-bottom: 15px;
                &::placeholder {
                    color: black;
                    font-weight: 700;
                }
            }
            button {
                padding-top: 17px;
                padding-bottom: 17px;
            }
        }
        .footer-copyright {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            a {
                color: #a7a6a6;
            }
        }
        .footer-bg {
            top: 50%;
            left: 50%;
            z-index: -1;
            opacity: 0.15;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            transform: translate(-66%, -50%);
        }
    }
    &.footer-h11 {
        background: #0d0f2c;
        .footer-top-part {
            z-index: 1;
            position: relative;
            background: #12153a;
            padding: 65px 25px 80px 25px;
            .footer-top-content {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                h2, h6 {
                    color: white;
                }
                h6 {
                    font-size: 18px;
                    margin-top: 5px;
                }
                form {
                    padding: 10px;
                    display: flex;
                    background: white;
                    align-items: center;
                    border-radius: 35px;
                    @include respond-below(sm) {
                        display: block;
                    }
                    input {
                        height: 50px;
                        margin-right: 0;
                        font-size: 17px;
                        background: transparent;
                        &::placeholder {
                            color: $color-heading;
                            font-family: $font-cs-medium;
                        }
                    }
                    button {
                        flex: none;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        @include respond-below(sm) {
                            width: 100%;
                        }
                    }
                }
            }
            .left-image,
            .right-image {
                bottom: 0;
                z-index: -1;
                position: absolute;
                @include respond-below(md) {
                    display: none;
                }
            }
            .left-image {
                left: 4%;
                max-width: 15%;
            }
            .right-image {
                right: 0;
                max-width: 30%;
            }
        }
        .widget-title {
            color: white;
        }
        .nav-widget ul {
            li {
                a {
                    color: #b6b8da;
                    &:hover {
                        color: #fd695a;
                    }
                }
            }
        }
        .social-links li {
            a {
                color: #6e6b8a;
                background: rgba(255, 255, 255, 0.1);
                &:hover {
                    color: white;
                    background: #fd695a;
                }
            }
        } 
        .footer-copyright {
            border-top: 1px solid #1d204b;
            p {
                color: #b6b8da;
                a {
                    color: #fd695a;
                }
            }
        }
    }
}
